<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916498877735-kl5fdosinok31bdd5msh6b63uucstdh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916498877735-kl5fdosinok31bdd5msh6b63uucstdh5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916498877735-ouarhvegl1shsvlr4rmucl7kk1saca00.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZqOpD8Tpfv9YlyTQ83szob9wmhlZwdns</string>
	<key>GCM_SENDER_ID</key>
	<string>916498877735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.GleamValet</string>
	<key>PROJECT_ID</key>
	<string>gleamvalet-2c82b</string>
	<key>STORAGE_BUCKET</key>
	<string>gleamvalet-2c82b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916498877735:ios:861a9a12faf0ca4daa2d02</string>
	<key>DATABASE_URL</key>
	<string>https://gleamvalet-2c82b.firebaseio.com</string>
</dict>
</plist>