<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gleamvaletchat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b58cf64a-7c1f-4121-89f7-e2355d8b274a/resourceGroups/FinalYearProject/providers/Microsoft.Web/sites/GleamValetChat</ResourceId>
    <UserName>$GleamValetChat</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://gleamvaletchat.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>